/* Programmer Name: Mr.Sylvester Ng Jun Hong (TP076143)
Program Name: Choose Booking Time Slot
Description: A interface for Lecturer and Student to choose the facility time slot they wish to reserve
First written on: Monday, 2 June 2025
Edited on: Wednesday, 2 July 2025 */

:root{
    --CourtHover:#3e41ee;
}

.lightmode{
    --CourtHover:#3e41ee;
    --CourtSelected:#5816f1;
    --BookBtn:#03b364;
    --BookText:#fff;
}

.darkmode{
    --CourtHover:#8267f8;
    --CourtSelected:#8b5cf6;
    --BookBtn:#03b364;
    --BookText:#fff;
}

body{
    text-align: center;
}

.container {
    width: 700px;
    margin: 120px auto 0 auto;
    justify-content: center;
    align-items: center;
}

.content-box{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
    color: var(--Text);
}
h3{
    color: var(--Text);
}

.date-picker {
    margin-bottom: 20px;
}

.choose-date {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.date-label {
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    color: var(--Text);
}

.date-input {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.court-options{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 15px 0 30px;
}
.time-slots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: stretch; 
    align-items: stretch;
    margin: 15px auto 30px;
    max-width: 600px;
}

.court-btn,
.time-btn {
    padding: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    min-width: 100px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.court-btn:hover,
.time-btn:hover {
    background-color: var(--CourtHover);
    transform: scale(1.02);
}

.court-btn.selected,
.time-btn.selected {
    background-color: var(--CourtSelected) !important;
    color: white;
    transform: scale(1.05);
}

.time-btn.booked {
    background-color: #8B0000;
    color: #fff;
}

.book-btn {
    padding: 12px 30px;
    background-color: var(--BookBtn);
    color: var(--BookText);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

