/* Programmer Name: Mr.Wan Hon Kit (TP075041)
Program Name: Lecturer Profile Page
Description: A Profile Page for Lecturer
First written on: Monday, 2 June 2025
Edited on: Wednesday, 2 July 2025 */

:root{
  --Title: #000;
}

.lightmode{
  --Profile-Box: rgba(176, 176, 176, 0.507);
  --Title: #000;
}

.darkmode{
  --Profile-Box: rgba(107, 107, 107, 0.3);
  --Title: #e4e4e4;
}

#ProfilePage {
    margin-top: 30px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--Text);
    background-color: var(--Profile-Box);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
    transition: background 0.5s ease, background-color 0.5s ease;
}

#ProfilePage h1{
    text-align: center;
    margin-bottom: 10px;
    color: var(--Title);
}

.profile-container {
    text-align: center;
}

.profile-pic p{
  color: var(--Title);
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
    border: 3px solid var(--Icons);
}

.edit-icon {
    position: absolute;
    font-size: 30px;
    bottom: 5px;
    right: 5px;
    opacity: 0.8;
    color: black;
    padding: 40px;
    display: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.profile-pic-wrapper:hover .edit-icon {
    display: flex;
}

.profile-pic-wrapper:hover img{
    filter: blur(2px);
    transition: all 0.3s ease-out;
}

#uploadError{
  color: red; 
  display: none; 
  text-align: center; 
  margin-top: 10px;
}

.profile-details {
    margin-top: 30px;
    text-align: left;
}

.profile-details h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--Title);
}

.profile-details p {
    margin-bottom: 20px;
    color: var(--Title);
}


@media screen and (max-width:968px){
  #ProfilePage {
      margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  #ProfilePage {
      margin-top: 80px;
  }
}