/* Programmer Name: Mr.Tang Chee Kin (TP075642)
Program Name: Library
Description: A interface for all user to view all book in the library
First written on: Monday, 2 June 2025
Edited on: Wednesday, 2 July 2025 */

:root{
  --LibraryCard:#e4e4e4;
  --BookInfo:#111;
  --BookDescription:#747474;
  --BookAuthor:#202020;
  --JobTitle:#7a7a7a;
  --BookRow:linear-gradient(135deg, #3e41ee 0%, #5816f1 100%);
  --Pagination:#5816f1;
  --Arrow:#3e41ee;
  --ArrowHover:#5816f1;
  --SliderBG:#616161;
  --SearchBarDropDown: rgba(255, 255, 255, 0.3);
  --SearchBarDropDownHover:rgba(255, 255, 255, 0.5);
  --SearchBarDropDownText:#000000;
  --SearchBarDropDownTextHover:#000000;
  --BookStatusColor:#000;
}

.lightmode{
  --LibraryCard:#e4e4e4;
  --BookInfo:#111;
  --BookDescription:#747474;
  --BookAuthor:#202020;
  --JobTitle:#7a7a7a;
  --BookRow:linear-gradient(135deg, #3e41ee 0%, #5816f1 100%);
  --Pagination:#5816f1;
  --Arrow:#3e41ee;
  --ArrowHover:#5816f1;
  --SliderBG:#616161;
  --SearchBarDropDown: rgba(255, 255, 255, 0.3);
  --SearchBarDropDownHover:rgba(255, 255, 255, 0.5);
  --SearchBarDropDownText:#000000;
  --SearchBarDropDownTextHover:#000000;
  --BookStatusColor:#000;
}

.darkmode{
  --LibraryCard:#111;
  --BookInfo:#ccc;
  --BookDescription:#c8c6c6;
  --BookAuthor:#fff;
  --JobTitle:#c8c6c6;
  --BookRow:linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
  --Pagination:#6636f1;
  --Arrow:#6366f1;
  --ArrowHover:#8b5cf6;
  --SliderBG:#919191;
  --SearchBarDropDown: rgba(107, 107, 107, 0.3);
  --SearchBarDropDownHover:rgba(127, 127, 127, 0.5);
  --SearchBarDropDownText:#e4e4e4;
  --SearchBarDropDownTextHover:#e4e4e4;
  --BookStatusColor:#fff;
}

.LibraryContainer{
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.bookStatus{
  position: relative;
  background:var(--navbar-color);
  width: 400px;
  height: 40px;
  border-radius: 10px;
  padding: 5px 10px 5px;
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  color: var(--Logo-Text);
}

.theme-toggle {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  user-select: none;
  right:10px;
  top: 10px;
}

.theme-toggle input {
  display: none;
}

.toggle-slider {
  position: relative;
  width: 45px;
  height: 20px;
  background-color: var(--SliderBG);
  border-radius: 25px;
  transition: background-color 0.4s;
  display: inline-block;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 3px;
  transition: transform 0.4s;
}

.theme-toggle input:checked + .toggle-slider {
  background-color: #6366f1;
}

.theme-toggle input:checked + .toggle-slider::before {
  transform: translateX(25px);
}

.totalBooks button{
  position: absolute;
  top: 0;
  right: 10px;
}

.reservedBooks button{
  position: absolute;
  top: 0;
  right: 10px;
}

.borrowedBooks button{
  position: absolute;
  top: 0;
  right: 10px;
}

.searchBar{
  position: absolute;
  top: 10px;
  right: 60px;
  padding: 10px;
}

.search-bar{
  width:250px;
  height: 45px;
  background: transparent;
  border:2px solid #e4e4e4;
  border-radius: 6px;
  display:flex;
  align-items: center;
  position: relative;
}

.search-bar input{
  width: 100%;
  background:transparent;
  padding-left:10px;
  border:none;
  outline:none;
  font-size: 16px;
  color:#e4e4e4;
}

.search-bar input::placeholder{
  color:#e4e4e4;
}

.search-bar button{
  width:40px;
  height:100%;
  background:transparent;
  border:none;
  outline:none;
  cursor:pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.search-bar button i{
  font-size:22px;
  color:#e4e4e4;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--SearchBarDropDown);
  z-index: 5;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content div {
  padding: 8px;
  cursor: pointer;
  color:var(--SearchBarDropDownText);
}

.dropdown-content div:hover {
  color:var(--SearchBarDropDownTextHover);
  background-color: var(--SearchBarDropDownHover);
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

.Library{
  margin-top: 50px;
}

.Library .BookRow{
  top: 0;
  left: 0;
  font-size: 1rem;
  font-weight: 500;
  color:#fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--BookRow);
  box-shadow: 0 8px 15px rgba(99, 102, 241, 0.2);
  border-radius: 20px;
  width: fit-content;
  padding: 5px 15px;
}

.wrapper{
  max-width: 1100px;
  padding: 20px 10px;
  margin: 0 60px 35px;
  overflow: hidden;
}

.wrapper .card{
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--LibraryCard);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.wrapper .card:hover{
  transform: translateY(-10px);
}

.card .card-image{
  position: relative;
}

.card .card-image img{
  width: 100%;
  height: 180px;
  padding: 10px;
  border-radius: 22px;
  aspect-ratio: 1/1; 
  object-fit: contain;
}

.card .card-image .card-tag{
  position: absolute;
  left: 25px;
  top: 25px;
  color: var(--BookStatusColor);
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.card-tag.reserved {
  background: #ffcc00b4; 
}

.card-tag.borrowed {
  background: #ff5733b4;
}

.card-tag.available {
  background: #28a745b4;
}

.card .card-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}

.card .card-content .card-title{
  color:var(--BookInfo);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.card .card-content .card-text{
  color:var(--BookDescription);
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 20px;
}

.card .card-content .card-footer{
  display: flex;  
  align-items: center;
  padding-top: 15px;
  margin-top: auto;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.card .card-footer .card-profile{
  display: flex;
  align-items: center;
}

.card .card-profile img{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--Icons);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .card-profile .card-profile-info{
  display: flex;
  flex-direction: column;
}

.card .card-profile .card-profile-name{
  font-size: 0.875rem;
  font-weight: 600;
  color:var(--BookAuthor);
}

.card .card-profile .card-profile-role{
  font-size: 0.875rem;
  color:var(--JobTitle);
}

.card .card-footer .card-button{
  color:#fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.81rem;
  font-weight: 600;
  text-decoration: none;
  background: var(--BookRow);
  box-shadow: 0 8px 15px rgba(99, 102, 241, 0.2);
  transition: all 0.3s ease;
}

.card .card-footer .card-button:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}

.wrapper .swiper-pagination-bullet{
  height: 15px;
  width: 15px;
  overflow: hidden;
  opacity: 1;
  background: #B1B3F8;
}

.wrapper .swiper-pagination-bullet-active::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--Pagination);
  transform: scaleX(0);
  transform-origin: left center;
  animation: autoplay-loading 5s linear forwards;
}

.container:hover .wrapper .swiper-pagination-bullet-active::before{
  animation-play-state: paused; 
}

@keyframes autoplay-loading {
100%{
  transform: scaleX(1);
}
}

.wrapper :where(.swiper-button-prev, .swiper-button-next){
  color:var(--Arrow);
  margin-top: -35px;
  transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover{
  color:var(--ArrowHover);
}

@media (max-width:600px){
  .wrapper{
    margin: 0 10px 25px;
  }

  .wrapper :where(.swiper-button-prev, .swiper-button-next){
    display:none;
  }

  .LibraryContainer{
    position: relative;
  }

  .bookStatus{
    width:90%;
    align-self: center;
    flex-direction: column;
  }

  .totalBooks{
    position: absolute;
    top: 10px;
  }

  .reservedBooks{
    position: absolute;
    top: 50px;
  }

  .borrowedBooks{
    position: absolute;
    top: 90px;
  }

  .searchBar{
    position: absolute;
    top: 180px;
    margin-right: -50px;
    align-self: right;
  }
}
