/* Programmer Name: Mr.Tang Chee Kin (TP075642)
Program Name: Login Program
Description: A interface for all user to login
First written on: Monday, 2 June 2025
Edited on: Wednesday, 2 July 2025 */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#020202;
}

.background{
    width:100%;
    height: 100vh;
    background: url("img/Darkmode.avif") no-repeat;
    background-size:cover;
    background-position: center;
    filter:blur(10px);
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:75%;
    height:550px;
    background: url('img/Darkmode.avif') no-repeat;
    background-size:cover;
    background-position:center;
    border-radius:10px;
    margin-top:20px;
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    padding:80px;
    color:#e4e4e4;
    background: transparent;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo{
    font-size:30px;
}

.text-sci h2{
    font-size:40px;
    line-height: 1;
}

.text-sci span p{
    font-size:22px;
    font-weight:600;
    text-align: justify;
}

.text-sci p{
    font-size:16px;
    margin: 20px 0;
    text-align: justify;
}

.social-icons a i{
    font-size: 22px;
    color:#e4e4e4;
    margin-right:10px;
    transition: 0.5s ease;
}

.social-icons a:hover i{
    transform: scale(1.2);
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    overflow: hidden;
}

.logreg-box .form-box{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background:transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#e4e4e4;
}

.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform 0.6s ease;
    transition-delay: 0.7s;
}

.logreg-box.active .form-box.login{
    transform: translateX(430px);
    transition-delay: 0s;
}

.logreg-box .form-box.register{
    transform: translateX(600px);
    transition: transform 0.6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: 0.7s;
}

.form-box h2{
    font-size:32px;
    text-align: center;
}

.form-box .input-box{
    position:relative;
    width:340px;
    height:50px;
    border-bottom: 2px solid #e4e4e4;
    margin:30px 0;
}

.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    font-size:16px;
    color:#e4e4e4;
    font-weight: 500;
    padding-right:28px;
}

.input-box label{
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size:16px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.input-box .icon{
    position:absolute;
    top:13px;
    right:0;
    font-size:19px;
}

.error-message{
    text-align:start;
    margin-top:-20px;
    margin-bottom:20px;
    font-size:14px;
    max-width: 350px;
}

.form-box .show-password{
    font-size:14.5px;
    font-weight: 500;
    margin:-15px 0 15px;
    display:flex;
    justify-content: space-between;
}

.show-password label input{
    accent-color: #e4e4e4;
    margin:3px;
}

.btn{
    width:100%;
    height:45px;
    background: #c4103d;
    border:none;
    outline:none;
    border-radius:4px;
    cursor:pointer;
    font-size:16px;
    color:#e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form-box .login-register{
    font-size:14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a{
    color:#e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover{
    text-decoration: underline;
}


@media screen and (max-width:968px){
    .container .logreg-box{
        width: 80%; 
        height: 100%;
        margin: 0 auto; 
        position: relative;
        left: 0;
        transform: none;
    }

    .container .hideOnMobile{
        display:none;
    }

    .hideOnMobile{
        display:none;
    }

    .menu-btn{
        display:block;
    }

    .menu-btn a{
        text-decoration: none;
        color:#e4e4e4;
        font-size:36px;
        transition: 0.5s ease;
    }

    .menu-btn a:hover i{
        transform: scale(1.2);
    }
}

@media screen and (max-width:600px){
    .container .logreg-box{
        bottom:0;
        width:100%;
        height:100%;
    }

    .container .hideOnMobile{
        display:none;
    }

    .hideOnMobile{
        display:none;
    }

    .menu-btn{
        display:block;
    }

    .menu-btn a{
        text-decoration: none;
        color:#e4e4e4;
        font-size:36px;
        transition: 0.5s ease;
    }

    .menu-btn a:hover i{
        transform: scale(1.2);
    }
}

@media screen and (max-width:500px) {
    .container {
        width: 100%;
    }
}




