/* Programmer Name: Mr.Tang Chee Kin (TP075642)
Program Name: Manage Feedback
Description: A interface for admin to manage lecturer and student feedback by updating the feedback status
First written on: Monday, 2 June 2025
Edited on: Wednesday, 2 July 2025 */

:root{
    --ButtonColor:#6567f7;
}

.lightmode{
    --ButtonColor:#6567f7;
    --ButtonHover:#3e41ee;
}

.darkmode{
    --ButtonColor:#8b5cf6;
    --ButtonHover:#7b46f9;
}

.feedback-box {
    margin-top: 100px;
    width: 700px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.feedback-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--Text);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 0 0 48%;
}

.column label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--Text);
}

.input-box, .description-box{
    padding: 1px 10px;
}

.input-box {
    background: #e4e4e4;
    height: 30px;
    border-radius: 15px;
}

.description-label {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--Text);
}

.description-box {
    width: 100%;
    height: 200px;
    background: #e4e4e4;
    border-radius: 20px;
    margin-bottom: 30px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.status-button {
    width: 120px;
    padding: 15px 0;
    background: var(--ButtonColor);
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #fff;
}

.status-button:hover {
    background: var(--ButtonHover);
}

@media (max-width: 600px) {
    .feedback-box{
        margin: 100px 20px;
    }

    .row {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .column {
        width: 100%;
        margin-bottom: 10px;
    }
}
